<footer>
	<div class="card-container">
		<a class="circle-link" rel="noopener noreferrer" target="_blank" title="Git Lab" href="https://forge.univ-lyon1.fr/p1702268/medibd">
			<img alt="Angular logo" src="assets/git.png" />
		</a>
		<a class="circle-link" rel="noopener noreferrer" target="_blank" title="Node.js" href="https://nodejs.org/fr/">
			<img alt="Angular logo" src="assets/node.png" />
		</a>
		<a class="circle-link" rel="noopener noreferrer" target="_blank" title="AngularJS" href="https://angular.io/">
			<img alt="Angular logo" src="assets/angular.png" />
		</a>
		<a class="circle-link" rel="noopener noreferrer" target="_blank" title="MangoDB" href="https://www.mongodb.com/fr">
			<img alt="Angular logo" src="assets/mangodb.png" />
		</a>
		<a class="circle-link" rel="noopener noreferrer" target="_blank" title="bootstrap" href="https://getbootstrap.com/">
			<img  alt="Boostrap logo" src="assets/bootstrap.png" />
		</a>
		<a class="circle-link" rel="noopener noreferrer" target="_blank" title="D3.js" href="https://d3js.org/">
			<img  alt="D3.js logo" src="assets/D3.png" />
		</a>
		<a class="circle-link" rel="noopener noreferrer" target="_blank" title="Observable" href="https://observablehq.com/">
			<img  alt="Observable logo" src="assets/observable.png" />
		</a>
	</div>
</footer>