
.axis .domain {
    display: none;
  }

.divAnalyse{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 5%;
}

.divFigure{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.divTitulaire{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.divMedicament{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
}

.break {
  flex-basis: 100%;
  height: 0;
}

.figure{
}

.pie{
}

.bar{
}

.divMedicament{

}