<section class="row justify-content-center" style="margin:0 0 0 0;">
	<h1>Recherche de médicaments</h1>
	<form class="form-group col-8 justify-content-center" (ngSubmit)="appelRecherche($event)"><!-- Réglage Largeur de la barre de recherche principale -->
		<label for="names">Saisissez votre recherche&nbsp;: </label>
		<div class="input-group">
			<div class="input-group-prepend">
				<span class="input-group-text" id="validatedInputGroupPrepend">
					<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
					<span class="material-icons">science</span>
				</span>
			</div>
			<input type="text" class="form-control form-control-lg" placeholder="Doliprane" [(ngModel)]="test" name="important" id="research" required>
		</div>
		<small id="emailHelp" class="form-text text-muted">Vous pouvez ici rechercher un médicament générique, son principe actif ou utiliser une recherche avancée.</small>
		<button clas="mt-3" type="button" class="btn btn-outline-primary" (click)="isCollapsed = !isCollapsed" [attr.aria-expanded]="isCollapsed" aria-controls="collapseExample" title="Afficher/masquer la echerche avancée">Recherche avancée</button>
		<div id="collapseExample" [ngbCollapse]="!isCollapsed" class="mt-1">
			<app-recherche-avancee></app-recherche-avancee>
		</div>
		<br />
		<button class="btn btn-success mt-3" type="submit" title="Lancer la recherche">
			Rechercher
			<div *ngIf="rechercheEnCours" class="spinner-border text-light spinner-border-sm align-middle" role="status">
				<span class="visually-hidden"></span>
			</div>
			<svg *ngIf="!rechercheEnCours" width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-search" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
				<path fill-rule="evenodd" d="M10.442 10.442a1 1 0 0 1 1.415 0l3.85 3.85a1 1 0 0 1-1.414 1.415l-3.85-3.85a1 1 0 0 1 0-1.415z" />
				<path fill-rule="evenodd" d="M6.5 12a5.5 5.5 0 1 0 0-11 5.5 5.5 0 0 0 0 11zM13 6.5a6.5 6.5 0 1 1-13 0 6.5 6.5 0 0 1 13 0z" />
			</svg>
		</button>
		<button type="reset" class="btn btn-outline-danger mt-3 ml-1">
			Effacer
			<svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-x-square" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
				<path fill-rule="evenodd" d="M14 1H2a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"/>
				<path fill-rule="evenodd" d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
			</svg>
		</button>
	</form>
</section>

<app-resultat>
	<section *ngIf="resultats">
		<div class="row justify-content-center">
			<div class="table-responsive col-10 ">
				<hr />
				<div *ngIf="resultatsNonNul; else resultat_vide">
					<!-- Généralités -->
					<div>
						<span class="badge bg-secondary rounded-pill text-white">{{collectionSize}}</span>
						<span *ngIf="resultatsMultiples">
							résultats trouvés.
						</span>
						<span *ngIf="!resultatsMultiples">
							résultat trouvé
						</span>
						
					</div>
					<!-- Choix de l'affichage -->
					<div class="row justify-content-center">
						<div class="btn-group" role="group">
							<button class="btn btn-primary" [disabled]="active === 1" (click)="nav.select(1)">Liste</button>
							<button class="btn btn-primary" [disabled]="active === 2" (click)="nav.select(2)">Cercles concentriques</button>
							<button class="btn btn-primary" [disabled]="active === 3" (click)="nav.select(3)">Réseau</button>
						</div>
					</div>
					<ul ngbNav #nav="ngbNav" [(activeId)]="active" (navChange)="onNavChange($event)" class="nav-tabs" [destroyOnHide]="false">
						<li [ngbNavItem]="1">
							<!-- Tableau -->
							<ng-template ngbNavContent>
								<form class="form-inline">
									<label class="my-1 mr-2" for="inlineFormCustomSelectPref">Nombre de résultats par page&nbsp;: </label>
									<select class="custom-select my-1 mr-sm-2" id="inlineFormCustomSelectPref" (change)="majPageSize()">
										<option value="10" selected>10</option>
										<option value="20">20</option>
										<option value="50">50</option>
										<option value="200">200</option>
									</select>
								</form>
								<span *ngIf="collectionSizeInfAPageSize">
									Page 1. Résultats 1 à {{ collectionSize }}.
								</span>
								<span *ngIf="!collectionSizeInfAPageSize">
									Page {{ page }}. Résultats {{ ( page - 1 ) * pageSize + 1 }} à {{ page * pageSize }}.
								</span>
								<table class="table table-striped">
									<caption class="invisible">Tableau représentant les résultats de la recherche</caption>
									<thead>
										<tr>
											<th *ngFor="let colonne of menus" scope="col" class="text-center">
												<span *ngIf="!(colonne[0]=='codeCis' || colonne[0]=='statutAdministratif' || colonne[0]=='typeProcedureAMM' || colonne[0]=='dateAMM')">
													{{ colonne[1] }}
												</span>
												<span *ngIf="colonne[0]=='statutAdministratif' || colonne[0]=='typeProcedureAMM' || colonne[0]=='dateAMM'">
													{{ colonne[1] }}&rsquo;<a href="https://www.ansm.sante.fr/Activites/Autorisations-de-Mise-sur-le-Marche-AMM/L-AMM-et-le-parcours-du-medicament/(offset)/3" target="_blank"><abbr title="Autorisation de Mise sur le Marché" class="initialism">AMM</abbr></a>
												</span>
												<span *ngIf="colonne[0]=='codeCis'">
													{{ colonne[1] }} <abbr title="Code Identifiant de Spécialité" class="initialism">CIS</abbr>
												</span>
												<span *ngIf="trisCourantTableau!=colonne[0]" title="Trier par {{ colonne[1] }}">
													<svg (click)="trisTableau(colonne[0])" style="cursor:pointer;" width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-caret-down-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
														<path d="M7.247 11.14L2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z"/>
													</svg>
												</span>
												<span *ngIf="trisCourantTableau==colonne[0]" title="Trier par {{ colonne[1] }}">
													<svg (click)="trisTableau(colonne[0])" style="cursor:pointer;" xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" class="bi bi-caret-up-fill" viewBox="0 0 16 16">
														<path d="M7.247 4.86l-4.796 5.481c-.566.647-.106 1.659.753 1.659h9.592a1 1 0 0 0 .753-1.659l-4.796-5.48a1 1 0 0 0-1.506 0z"/>
													</svg>
												</span>
											</th>
										</tr>
									</thead>
									<tbody>
										<tr *ngFor="let ligne of tabl | slice: (page-1) * pageSize : page * pageSize">
											<th scope="row">{{ligne.denomination}}</th>
											<td>{{ligne.codeCis}}</td>
											<td>{{ligne.formePharmaceutique}}</td>
											<td>{{ligne.voiesAdministration}}</td>
											<td>{{ligne.statutAdministratif}}</td>
											<td>{{ligne.typeProcedureAMM}}</td>
											<td>{{ligne.etatDeCommercialisation}}</td>
											<td>{{ligne.dateAMM}}</td>
											<td>{{ligne.statutBdm}}</td>
											<td>{{ligne.numeroAutorisationEuropeenne}}</td>
											<td>{{ligne.titulaire}}</td>
											<td>{{ligne.surveillanceRenforcee}}</td>
										</tr>
									</tbody>
								</table>
								<ngb-pagination [collectionSize]="collectionSize" [(page)]="page" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" class="d-flex justify-content-center"></ngb-pagination>	
							</ng-template>
						</li>
						<li [ngbNavItem]="2">
							<!-- Diagramme en cercles concentriques zoomables -->
							<ng-template ngbNavContent>
								<app-zoomable-circle-packing [data]=dataZCP>
									<div class="row">
										<div class="col col-4">
											<span class="d-inline">Grouper par&nbsp;: </span>
											<select id="critere1" (change)="resultatToZCP(0)" class="custom-select d-inline" aria-label="Default select example">
												<option value="0" selected>...</option>
												<option *ngFor="let choix of menusZCP" value="{{choix[0]}}">{{choix[1]}}</option>
											</select>
										</div>
										<div class="col col-4">
											<div *ngIf="affichageMenusZCP[0]" class="d-inline">
												<span class="d-inline">puis par&nbsp;: </span>
												<select id="critere2" (change)="resultatToZCP(1)" class="custom-select d-inline" aria-label="Default select example">
													<option value="0" selected>...</option>
													<option *ngFor="let choix of menusZCP" value="{{choix[0]}}">{{choix[1]}}</option>
												</select>
											</div>
										</div>
										<div class="col col-4">
											<div *ngIf="affichageMenusZCP[1]" class="d-inline">
												<span class="d-inline">puis par&nbsp;: </span>
												<select id="critere3" (change)="resultatToZCP(2)" class="custom-select d-inline" aria-label="Default select example">
													<option value="0" selected>...</option>
													<option *ngFor="let choix of menusZCP" value="{{choix[0]}}">{{choix[1]}}</option>
												</select>
											</div>
										</div>
									</div>
									<div id="zoomableCircle"></div>
								</app-zoomable-circle-packing>
							</ng-template>
						</li>
						<li [ngbNavItem]="3">
							<!-- Diagramme en force dirigée -->
							<ng-template ngbNavContent>
								<app-force-directed-graph [data]=dataFDG>
									<div class="w-100">
										<p class="text-justify">Chaque médicament est représenté par un point et chaque &laquo; famille &raquo; de médicaments est incluse dans une bordure de la couleur de leurs points et est constituée de médicaments ayant les mêmes formes pharmaceutiques et les mêmes voies d&rsquo;administration. Des liens sont ajoutés entre chaque médicament ayant une date contiguë dans l&rsquo;ordre des résultats.</p>
									</div>
									<div id="directedGraph"></div>
								</app-force-directed-graph>
							</ng-template>
						  </li>
					  </ul>
					  <div [ngbNavOutlet]="nav" class="mt-2"></div>
				</div>
				<ng-template #resultat_vide class="text-center">
					<svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-emoji-frown" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
						<path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
						<path fill-rule="evenodd" d="M4.285 12.433a.5.5 0 0 0 .683-.183A3.498 3.498 0 0 1 8 10.5c1.295 0 2.426.703 3.032 1.75a.5.5 0 0 0 .866-.5A4.498 4.498 0 0 0 8 9.5a4.5 4.5 0 0 0-3.898 2.25.5.5 0 0 0 .183.683z"/>
						<path d="M7 6.5C7 7.328 6.552 8 6 8s-1-.672-1-1.5S5.448 5 6 5s1 .672 1 1.5zm4 0c0 .828-.448 1.5-1 1.5s-1-.672-1-1.5S9.448 5 10 5s1 .672 1 1.5z"/>
					</svg>
					Aucun résultat n'a été retourné.
				</ng-template>
			</div>
		</div>
	</section>
</app-resultat>